/* 颜色 */

// 基础颜色
$primary: #1c7ec0;
$danger: #e63946;
$success: #2ecc71;

// 卡片颜色
$color-rose: #ebd4d0;
$color-lavender: #efe4fd;
$color-sky: #cbe4e9;
$color-cream: #fef6de;
$color-mint: #e2f7d9;
$color-brown: #8d6e63;

// 卡片颜色 - 深色模式
$color-rose-dark: #8b6f67;
$color-lavender-dark: #6b5d9e;
$color-sky-dark: #5a8c94;
$color-cream-dark: #9e8f5f;
$color-mint-dark: #638f57;
$color-brown-dark: #6d564c;

// 中性色
$gray-0: #ffffff;
$gray-1: #f5f5f5;
$gray-2: #e0e0e0;
$gray-3: #bdbdbd;
$gray-4: #9e9e9e;
$gray-5: #757575;
$gray-6: #616161;
$gray-7: #424242;
$gray-8: #303030;
$gray-9: #1f1f1f;

/* 尺寸 */

// 圆角
$radius-6: 6px;
$radius-8: 8px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;

// 内边距
$padding-4: 4px;
$padding-8: 8px;
$padding-12: 12px;
$padding-16: 16px;
$padding-24: 24px;
$padding-32: 32px;
$padding-48: 48px;

// 字体
$font-main: "Inter", sans-serif;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;

// 响应式断点
$mobile: 768px;
$tablet: 992px;


// 长度
$length-full: 100%;
$length-10:10px;
$length-12:12px;
$length-16:16px;
$length-18:18px;
$length-20:20px;
$length-22:22px;
$length-24:24px;
